Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Bootstrap
Flask-WTF
Flask-Login
Flask-Marshmallow
Marshmallow-SQLAlchemy

Flask-DebugToolbar

email-validator
is-safe-url

python-dateutil
babel
timeago
lorem

flake8
autopep8
python-dotenv
