<!-- followees -->
<div class="panel panel-default">
	<div class="panel-body">
		<h4>Following</h4>
		<ul>
			<li>
				<a href="#">peterpan</a>
				<a class="text-danger" href="#">[unfollow]</a>
			</li>
		</ul>
	</div>
</div>
<!-- ./followees -->

<!-- followers -->
<div class="panel panel-default">
	<div class="panel-body">
		<h4>Followers</h4>
		<ul>
			<li>
				<a href="#">johndoe</a>
				<a class="text-success" href="#">[follow back]</a>
			</li>
		</ul>
	</div>
</div>
<!-- ./followers-->

<!-- follow -->
<div class="panel panel-default">
	<div class="panel-body">
		<h4>People you may know</h4>
		<ul>
			<li>
				<a href="#">alberte</a>
				<a href="#">[follow]</a>
			</li>
		</ul>
	</div>
</div>
<!-- ./follow -->
