{% extends "_base.html" %}

{% block main %}
<div class="row">
	<div class="col-md-3">
		<!-- profile brief -->
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>nicholaskajoh</h4>
				<p>I love to code!</p>
			</div>
		</div>
		<!-- ./profile brief -->
	</div>
	<div class="col-md-6">
		<!-- post form -->
		<form method="post">
			{# {{ post_form.csrf_token }} #}
			<div class="input-group">
				{{ post_form.body(class="form-control", placeholder=post_form.body.description) }}
				<span class="input-group-btn">
					{{ post_form.submit_post(class="btn btn-success") }}
				</span>
			</div>
		</form><hr>
		<!-- ./post form -->

		<!-- feed -->
		<div>
			{% for post in latest_posts %}
				<!-- post -->
				<div class="panel panel-default">
					<div class="panel-body">
						<p>{{ post.body }}</p>
					</div>
					<div class="panel-footer">
						<span title="{{ post.created_at|timestamp }}">
							posted <em>{{ post.created_at|timeago }}</em> by <em>{{ post.author.username }}</em></span>
					</div>
				</div>
				<!-- ./post -->
			{% endfor %}
		</div>
		<!-- ./feed -->
	</div>
	<div class="col-md-3">
		<!-- friends -->
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>friends</h4>
				<ul>
					<li>
						<a href="#">peterpan</a>
						<a class="text-danger" href="#">[unfriend]</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- ./friends -->

		<!-- friend requests -->
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>friend requests</h4>
				<ul>
					<li>
						<a href="#">johndoe</a>
						<a class="text-success" href="#">[accept]</a>
						<a class="text-danger" href="#">[decline]</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- ./friend requests -->

		<!-- add friend -->
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>add friend</h4>
				<ul>
					<li>
						<a href="#">alberte</a>
						<a href="#">[add]</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- ./add friend -->
	</div>
</div>
{% endblock main %}
