{% extends "_base.html" %}

{% block main %}
<h1 class="text-center">Welcome to Flask-book! <br><small>A simple Facebook clone.</small></h1>

<div class="row">
	<div class="col-md-6">
	<h4>Login to start enjoying unlimited fun!</h4>

	<!-- login form -->
    {# <form action="{{ url_for('login') }}" method="POST">
    {{ register_form.username.label }} {{ register_form.password() }}
    {{ register_form.password.label }} {{ register_form.password() }}
    {{ register_form.submit() }}
    </form> #}
	<form action="{{ url_for('login_register') }}" method="POST" novalidate>
        {{ register_form.hidden_tag() }}

        {% set has_been_validated = login_form.submit_login.data %}
        {% for field in login_form %}
            {% if field.type != 'SubmitField' and field.type != 'CSRFTokenField' %}
                <div class="form-group {% if has_been_validated %} has-feedback {{ 'has-error' if field.errors else 'has-success' }} {% endif %}">
                    {{ field(class="form-control", placeholder=field.description) }}
                    {% if has_been_validated %}
                        <span class="glyphicon glyphicon-{{ 'remove' if field.errors else 'ok' }} form-control-feedback" aria-hidden="true"></span>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

		<div class="form-group">
		    {{ login_form.submit_login(class="btn btn-primary") }}
		</div>
	</form>
	<!-- ./login form -->
	</div>
	<div class="col-md-6">
	<h4>Don't have an account yet? Register!</h4>

	<!-- register form -->
	<form method="post" action="home.html">
		<div class="form-group">
		<input class="form-control" type="text" name="username" placeholder="Username">
		</div>

		<div class="form-group">
		<input class="form-control" type="text" name="location" placeholder="Location">
		</div>

		<div class="form-group">
		<input class="form-control" type="password" name="password" placeholder="Password">
		</div>

		<div class="form-group">
		<input class="btn btn-success" type="submit" name="register" value="Register">
		</div>
	</form>
	<!-- ./register form -->
	</div>
</div>
{% endblock main %}
