{% extends "_base.html" %}

{% block main %}
<h1 class="text-center">Welcome to Flask-book! <br><small>A simple Facebook clone.</small></h1>

<div class="row">
	<div class="col-md-6">
	<h4>Login to start enjoying unlimited fun!</h4>

	<!-- login form -->
	{# <form action="{{ url_for('login') }}" method="POST">
	{{ register_form.username.label }} {{ register_form.password() }}
	{{ register_form.password.label }} {{ register_form.password() }}
	{{ register_form.submit() }}
	</form> #}
	<form action="{{ url_for('login_register') }}" method="POST">
		{{ login_form.hidden_tag() }}
        <input type="hidden" value="{{ request.args.get('next') }}">

        <div class="form-group">
			{{ login_form.username(class="form-control", placeholder="Username") }}
		</div>

		<div class="form-group">
			{{ login_form.password(class="form-control", placeholder="Password") }}
		</div>

		<div class="form-group">
			{{ login_form.submit_login(class="btn btn-primary") }}
		</div>
	</form>
	<!-- ./login form -->
	</div>
	<div class="col-md-6">
	<h4>Don't have an account yet? Register!</h4>

    {% macro show_errors(field) %}
        {% if field.errors %}
            <div class="invalid-feedback">
            {% for error in field.errors %}
                <div>{{ error }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endmacro %}

	<!-- register form -->
    {# {% import "bootstrap/wtf.html" as wtf %}
    {{ wtf.quick_form(register_form) }} #}
	<form action="{{ url_for('login_register') }}" method="POST" class="needs-validation" novalidate>
        {{ register_form.csrf_token }}

		<div class="form-group">
            {{ register_form.username(class="form-control", placeholder="Username") }}
            {{ show_errors(register_form.username) }}
		</div>

		<div class="form-group">
            {{ register_form.email(class="form-control", placeholder="E-mail", type="email") }}
            {{ show_errors(register_form.email) }}
		</div>

		<div class="form-group">
			{{ register_form.firstname(class="form-control", placeholder="Firstname") }}
			{{ show_errors(register_form.firstname) }}
		</div>

		<div class="form-group">
			{{ register_form.lastname(class="form-control", placeholder="Lastname") }}
			{{ show_errors(register_form.lastname) }}
		</div>

		<div class="form-group">
            {{ register_form.submit_register(class="btn btn-success") }}
		</div>
	</form>
	<!-- ./register form -->
	</div>
</div>
{% endblock main %}
